extends base

block content
    div 
        p=video.description
        small=video.createdAt
        small=video.hashtags
    //- relative url
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;